.editor {
  width: 500px;
  height: 250px;
  border: 2px solid black;
  padding: 5px;
  resize: vertical;
  outline: none;
  font-size: 12px;
  background-color: #084d6a;
  color: white;
  box-shadow: 10px 10px 8px #888888;
  margin-top: 10px;
}
.markdownPreview {
  border: 2px solid black;
  background-color: #084d6a;
  color: white;
  width: 800px;
  display: inline-block;
  box-shadow: 10px 10px 8px #888888;
  font-size: 12px;
  margin-top: 10px;
  padding-left: 1vw;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-color: lightblue;
}
.markdownPreview {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 850px) {
  .editor {
    width: 85vw;
  }
  .markdownPreview {
    width: 95vw;
  }
}
